[color]
    branch      = auto
    diff        = auto
    status      = auto
    interactive = auto
[color "branch"]
    current = red reverse
[alias]
    st              = status
    ci              = commit
    cim             = commit -m    
    co              = checkout
    br              = branch -a
    lg              = log --graph --pretty=tformat:'%Cred%h%Creset -%C(blue)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
    lga             = log --graph --pretty=tformat:'%Cred%h%Creset -%C(blue)%d%Creset %s %Cgreen(%an %cr)%Creset' --all
    logfull         = log --pretty=fuller --graph --stat -p
    cat             = cat-file -p
    unstage         = reset HEAD
    uncommit        = update-ref HEAD HEAD^
    uncommithard    = reset --hard HEAD^
    undomerge       = reset --hard ORIG_HEAD
    oups            = commit -a --amend -C HEAD
[branch]
    autosetuprebase = always
[user]
    name    = AUTHORNAME
    email   = AUTHOREMAIL
[core]
    autocrlf = input
[push]
    default = simple
